/*linear gradient*/

$color1:rgb(53,138,199);
$color2:rgb(116,116,191);
$deg1:(-85deg);
$pers1:0%;
$pers2:100%;
$color3:#fff;
$borderRadius:10px;

/*box-shadow*/
$shadow1:0px;
$shadow2:26px;
$shadow3:59.94px;
$shadow4:21.06px;
$color4:rgba(0, 0, 0, 0.48);

 